{% extends 'base/base.html' %}
{% load static %}
{% block title %}Gustavo Dev - Home{% endblock title %}
{% block body %}
    <div class="parte1">
        <h2 class="subtitle1">Olá, sou o</h2>
        <h1 id="title" class="title">Gustavo Junior dos Santos</h1>
        <h3 class="subtitle2">Estudante de programação</h3>
        <p class="text">
            Tenho o prazer de compartilhar um pouco sobre minha jornada. Originário de Cafeara, no Paraná, tenho 37 anos
            e atualmente desempenho o papel de operador de máquinas agrícolas. No entanto, estou aqui para falar sobre
            uma paixão crescente e uma transição que estou buscando: minha entrada no mundo da Tecnologia da Informação
            (TI).
        </p>
        <p class="text">
            Desde muito jovem, fui fascinado pelas ciências exatas e pela emoção de resolver problemas complexos. Esta
            paixão naturalmente me conduziu ao mundo da programação. Atualmente, estou imerso em um emocionante processo
            de aprendizagem, dedicando-me a cursos para adquirir habilidades fundamentais, especialmente em Python e
            suas aplicações.
        </p>
        <p class="text">
            Tenho investido em minha formação de maneira intensa. Concluí cursos como Python Birds, PyTools e DJANGO,
            onde explorei desde os fundamentos da linguagem até o desenvolvimento web avançado, passando por conceitos
            como orientação a objetos, modularização, testes e integrações. Além disso, participei do Treinamento DB1
            Start, onde obtive conhecimentos abrangentes em agilidade, banco de dados, e ciclo de desenvolvimento, entre
            outros.
        </p>
        <p class="text">
            Minha formação também abrange aspectos práticos, como o curso de MySQL, que complementa minha habilidade de
            trabalhar com bancos de dados, e ainda adquiri conhecimentos em HTML5, CSS3 e Algoritmos, fundamentais para
            o desenvolvimento web e para a resolução eficiente de problemas algorítmicos.
        </p>
        <p class="text">
            Não me limito apenas ao desenvolvimento de software. Completando minha formação, realizei cursos em Excel,
            Hardware e outros, demonstrando minha disposição em compreender não apenas a parte técnica, mas também em
            adquirir uma visão holística sobre Tecnologia da Informação.
        </p>
        <p class="text">
            Estou profundamente comprometido em absorver todo o conhecimento necessário e em aplicar essas habilidades
            de forma prática e eficaz. Minha determinação vem da certeza de que a Tecnologia da Informação oferece um
            vasto campo de possibilidades, onde posso continuar desafiando minha mente e contribuindo de forma
            significativa.
        </p>
        <p class="text">
            Estou ansioso para aplicar minha afinidade com a resolução de problemas neste novo cenário, contribuindo
            para soluções inovadoras e eficazes. Acredito firmemente que minha bagagem técnica, aliada à minha dedicação
            e paixão pela programação, me tornam um candidato ideal para a vaga de desenvolvedor Python.
        </p>
        <p class="text">
            Agradeço sinceramente pela oportunidade de compartilhar minha jornada e estou entusiasmado para as
            emocionantes oportunidades que o futuro reserva.
        </p>
        <a href="#projetos" class="btn">Mais informações</a>
    </div>
{% endblock body %}