{% extends 'base/base.html' %}
{% load static %}
{% block title %}{{ curso.titulo }}{% endblock title %}
{% block description %}Página com detalhes do curso {{ curso.titulo }}{% endblock description %}
{% block body %}
    <div class="container">
        {% for curso in cursos %}
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mt-4 mb-3">{{ curso.titulo }}</h1>
                    <dl>
                        <dt>Descrição</dt>
                        <dd>{{ curso.descricao }}</dd>
                    </dl>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock body %}